.portfolio {
  align-items: center;
  flex-direction: column;
}

.portfolio-item {
  background-color: #000000c0;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.651);
  box-sizing: border-box;
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  width: 280px;
}

.portfolio-item-title {
  color: #ffc107;
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
}

.portfolio-item-description {
  color: #fff;
  font-size: 1.2rem;
  margin: 1rem;
}

.portfolio-item-image {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  height: 200px;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}

@media (min-width: 768px) {
  .portfolio-item {
    height: 350px;
    width: 400px;
  }
}

@media (min-width: 992px) {
  .portfolio {
    flex-direction: row;
  }
  .portfolio-item {
    height: 350px;
  }
  .portfolio-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}
